/* src/styles/OrderDetail.css */

.order-detail {
  margin-left: 300px; /* 사이드바 너비 + 여백 */
  padding: 20px;
  padding-top: 150px; /* Header의 높이와 여백 */
  width: 70%;
}

.order-detail h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.order-detail table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-detail th{
  background-color: #f4f4f4;
  font-weight: bold;
  height: 40px;
}
.order-detail td {
  padding: 10px;
  border: 1px solid #ddd;
  
}

.order-detail td img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

  